.header__logo {
    font-family: "NunitoSans Reqular";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header__phone {
    font-family: "NunitoSans Reqular";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
}