@import url("main.css");

@media screen and (max-width: 1440px) {
    .mobilemode-hidden-element{
        display:  none;
    }

    .container {
        max-width: 350px;
    }
}


@media screen and (min-width: 1330px) {
    .desktop-hidden-element{
        display:  none;
    }
}